<h2>List of Movies</h2>
<table class="table">
    <thead>
        <tr>
            <th><label>Title</label></th>
            <th><label>Year</label></th>
            <th><label>Rating</label></th>
            <th><label>Rank</label></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let movie of movies" routerLink="/movies/{{movie.id}}">
            <td>{{movie.title}}</td>
            <td>{{movie.year}}</td>
            <td>{{movie.rating}}</td>
            <td>{{movie.top250Rank}}</td>
        </tr>
    </tbody>
</table>