<div *ngIf="movie">
    <h2>Movie Details</h2>
    <div class="wrapper">
        <dl class="row">
            <dt class = "col-sm-2">
                <label>Id</label>
            </dt>
            <dd class = "col-sm-10">
                {{movie.id}}
            </dd>
            <dt class = "col-sm-2">
                <label>Title</label>
            </dt>
            <dd class = "col-sm-10">
                {{movie.title}}
            </dd>
            <dt class = "col-sm-2">
                <label>Rating</label>
            </dt>
            <dd class = "col-sm-10">
                {{movie.rating}}
            </dd>
            <dt class = "col-sm-2">
                <label>Original Air Date</label>
            </dt>
            <dd class = "col-sm-10">
                {{movie.originalAirDate}}
            </dd>
            <dt class = "col-sm-2">
                <label>Plot</label>
            </dt>
            <dd class = "col-sm-10">
                {{movie.plot}}
            </dd>
        </dl>
    </div>
    <button (click)="goBack()">go back</button>
</div>
